<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alfasunny.homeuser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo001"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo001"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".completed.Home" />
        <activity android:name=".completed.AddReward" />
        <activity android:name=".completed.RedeemReward" />
        <activity android:name=".completed.Notifications" />
        <activity android:name=".Reviews" />
        <activity android:name=".AddReviews" />
        <activity android:name=".Reviews_Details" />
        <activity android:name=".Profile" />
        <activity android:name=".More" />
        <activity android:name=".ReferToFriends" />
        <activity android:name=".AboutUs" />
        <activity android:name=".completed.ManageRestaurant" />
        <activity android:name=".DetectUser" />
        <activity android:name=".GiveRewardToUser" />
        <activity android:name=".RedeemRewardFromUser" />
        <activity android:name=".completed.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".completed.Register" />
        <activity android:name=".completed.Login" />
        <activity android:name=".ProfileEditPage" />
        <activity android:name=".completed.AddRestaurant" />
        <activity android:name=".AddReview"></activity>
    </application>

</manifest>